<div class="boxDialog">
    <h2 *ngIf="showAdd">Dodawanie nowego kontaktu</h2>
    <h2 *ngIf="showMod">Modyfikacja kontaktu</h2>
    
    <form [formGroup]="addModForm">
        <mat-form-field appearance="outline">
            <mat-label>Nazwisko</mat-label>
            <input formControlName="surname" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Imię</mat-label>
            <input formControlName="firstname" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Numer telefonu</mat-label>
            <input formControlName="phoneNumber" matInput maxlength="12">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Adres email</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Miasto</mat-label>
            <input formControlName="city" matInput>
        </mat-form-field>

        <button (click)="closeModal()" mat-stroked-button color="warn">
            <mat-icon>close</mat-icon> Zamknij
        </button>
        
        <button (click)="addContact()" [disabled]="addModForm.invalid" *ngIf="showAdd" mat-stroked-button color="primary">
            <mat-icon>save</mat-icon> Zapisz
        </button>
        
        <button (click)="modContact()" [disabled]="addModForm.invalid" *ngIf="showMod" mat-stroked-button color="primary">
            <mat-icon>edit</mat-icon> Zapisz
        </button>
    </form>
    <pre>
        {{addModForm.value | json}}
    </pre>
    <pre>
        {{addModForm.invalid | json}}
    </pre>
</div>